# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native - Archivos de certificados y temporales
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# Descomenta .env si quieres subir tus credenciales (no recomendado para repos públicos)
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios

# --- CONFIGURACIÓN HÍBRIDA MOTORWASH (Kotlin + React) ---
# Permitimos la carpeta android pero ignoramos los archivos pesados y locales
# /android <--- Comentado para permitir subir la lógica de negocio

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/release/
android/app/debug/
android/*.iml
android/.idea/
.cxx/
*.swp
*.bak
